@import "../App/app";

.Task {
  .open{
    .panel-heading {
      background-color: @color-th-open;
    }
  }
  .in-progress{
    .panel-heading {
      background-color: @color-th-progress;
    }
  }
  .closed{
    .panel-heading {
      background-color: @color-th-closed;
    }
  }
  .panel-heading:hover {
    .smallButton {
      display: block!important;
    }
  }
  .deleteButton {
    right: 25px;
  }

  .editButton {
    right: 55px;
  }
}