.sideBar {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
    }
    a:hover:not(.active) {
      background-color: #555;
      color: white;
    }
    a.active {
      background-color: #2196f3;
    }
    li {
      position: relative;
    }
    li:hover {
      .smallButton {
        display: block!important;
      }
    }
  }

  .deleteSprintButton {
    right: 10px;
  }

  .editSprintButton {
    right: 40px;
  }

  .deleteSprintLink {
    padding: 0;
  }
}

.smallButton {
  position: absolute;
  z-index: 1;
  display: none!important;
  top: 8px;
}