.TaskShortcut {
  a {
    text-decoration: none;
  }
  .panel-body {
    position: relative;
  }
  button {
    position: absolute;
    z-index: 1;
    display: none;
    top: 8px;
    right: 20px;
  }

  .deleteTaskButton {
    right: 10px;
  }

  .editTaskButton {
    right: 40px;
  }

  .panel-body:hover {
    button {
      display: block;
    }
  }
}