body{
	background-image: url("images/wood.png");
	background-color: #343434;
	font-family: Arial, san-serif;
}

#main{
	width: 1170px;
	margin: 100px auto;
	background-color: #fff;
	border-radius: 4px 4px 4px 4px;
}

#navigation{
	height: 100px;
}

#banner{
	height: 400px;
	position: relative;
	background: -moz-linear-gradient(#e7e7e7, #fff);
	background: -ms-linear-gradient(#e7e7e7, #fff);
	background: -o-linear-gradient(#e7e7e7, #fff);
	background: -webkit-linear-gradient(#e7e7e7, #fff);
}

#bannertext{
	width: 600px;
	right: 0;
	top: 100px;
	position: absolute;
}

#bannersubtitle{
	font-size: 19pt;
	color: #003d48;
}

#bannertitle{
	font-size: 26pt;
	font-weight: bold;
	color: #003d48;
}

#bannerdescription{
	width: 400px;
	color: #a1a1a1;
}

a.button {
	position: absolute;
	color: #fff;
	border-radius: 4px 4px 4px 4px;
	text-decoration: none;
	background: #f77462;
	padding: .7em 1.5em;
	outline: none;
} 

a.button:hover { 
	background: rgb(232,95,76); 
}

a.button:active { 
	background: rgb(152,15,0); 
}

#smartphone{
	position: absolute;
	bottom: 0;
	left: 100px;
}

#content{
	overflow: hidden;
}

#row1{
	background-color: #6dc5dd;
	height: 270px;
	overflow: hidden;
}

.shortTopic{
	float: left;
	width: 32%;
	height: 210px;
	position:relative;
	padding-top: 60px;
}

.shortTopic .shortcut{
	position: absolute;
	padding: 0 30px;
}

.topictext{
	color: #fff;
	width: 70%;
	right: 0;	
	position: absolute;
	font-size: 11pt;	
}

.topictitle{
	font-size: 16pt;
	font-weight: bold;
}

.readmore{
	text-decoration: none;
	color: #fff;
	font-size: 12pt;
	font-weight: bold;
}

.readmore:hover { 
	text-decoration: underline; 
}

#row2{
	padding-top: 50px;
	overflow: hidden;
}

#picTopics{
	float: left;
	width: 64%;
}

#rightBar{
	float: left;
	width: 35%;
	position: relative;
}

.picTopic{
	height: 255px;
	padding-left: 30px;
	position: relative;
}

.picTopic img{
	float: left;
	border-radius: 4px 4px 4px 4px;
}

.pictopictext{
	width: 460px;
	right: 30px;	
	position: absolute;
	font-size: 11pt;
	padding-top: 5px;	
}

.pictopictitle{
	color: #225760;
	font-size: 14pt;
	font-weight: bold;
}

.pictopicdescription{
	color: #8c9193;
	line-height: 18pt;
}

.tab{
	width: 105px;
	height: 40px;
	text-align: center;
    line-height: 40px;
	float: left;
	margin-right: 10px;
	border-radius: 6px 6px 0px 0px;
	border: 2px solid #ececec;
	border-bottom-width: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #787878;
}

.tab:hover { 
	background: #ececec; 
}

#tabs{
	overflow: hidden;
	position: absolute;
    z-index: 1;
}

#activeTab{
	background-color: #003d48;
	color: #f77462;
}

#activeTab:hover{
	
}

#tabContent{
	width: 340px;
	height: 390px;
	border: 2px solid #ececec;
	border-radius: 0px 6px 6px 6px;
	position: absolute;
    top: 40px;
}

#tabTop{
	background-color: #003d48;
	height: 150px;
	border: 0px solid #ececec;
	border-bottom-width: 2px;
	padding: 1px 30px;
}

#tabTitle{
	color: #66bcd3;
	font-weight: bold;
	line-height: 20pt;
	margin-top: 20px;
    margin-bottom: 10px;
}

#tabDescription{
	color: #fff;
	font-size: 10pt;
    line-height: 17pt;
}

#tabBottom ul{
	list-style-type: none;
	color: #d8d8d8;
	padding: 0px 30px;
    margin-top: 20px;
}

#tabBottom li{
	border-bottom: 1px solid #ececec;
}

#tabBottom li a{	
	font-size: 10pt;
    line-height: 27pt;
	color: #787878;
	text-decoration: none;
	font-weight: bold;
}

#tabBottom .marker{
    color: #f77462;
	float: left;
	margin-right: 12px;
}

#row3{
	height: 205px;
	background-color: #f77462;
	color: #fff;
	text-align: center;
}

#row3 .title{
	font-size: 23pt;
	font-weight: bold;
	padding-top: 45px;
	line-height: 35pt;
}

#row3 .description{
	font-size: 13pt;
	line-height: 20pt;
}

#row4{
	padding: 20px 30px;
}

#row4 .title{
	text-align: center;
	color: #225760;	
	font-weight: bold;
	font-size: 23pt;
	line-height: 67pt;
}

#row4 .description{
	text-align: center;
	color: #6dc5dd;	
	border: 1px solid #dbdbdb;
	border-left-width: 0px;
	border-right-width: 0px;
	font-size: 15pt;
    line-height: 35pt;
}

#row4 .content{
	overflow: hidden;
	margin-top: 40px;
	position: relative;
}

#row4 .content .column{
	float: left;
	width: 49%;
}

#news .item{
	position: relative;
	height: 150px;
}

#news .date{
	height: 70px;
	width: 70px;
	background-color: #6dc5dd;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	float: left;
}

#news .day{
	height: 43px;
	border: 0px solid #fff;
	border-bottom-width: 1px;
	font-size: 25pt;
    line-height: 35pt;
}

#news .month{
	line-height: 20pt;
}

#news .article{
	position: absolute;
	float: left;
	color: #000;
	width: 420px;
	right: 20px;
}

#news .articleTitle{
	color: #003d48;
	font-size: 12pt;
	font-weight: bold;
}

#news .article a{
	text-decoration: none;
}

#news .articleTitle:hover{
	text-decoration: underline;
}

#news .comments{
	color: #f77462;
	font-size: 10pt;
	line-height: 20pt;
}

#news .articleDescription{
	margin-top: 10px;
	color: #818181;
	font-size: 10pt;
	line-height: 15pt;
}

#news .arrow{
	width: 30px;
	color: #f77462;
	position: absolute;
    right: 0;
    bottom: 0;
}

#remarks{
	position: absolute;
    right: 0;
}

#remarks .remark{
	width: 350px;
    padding-top: 35px;
	font-size: 11pt;
	line-height: 18pt;
	color: #8c9193;
}

#remarks .author{
	color: #f77462;
	font-weight: bold;
	font-size: 11pt;
	line-height: 30pt;
}

#remarks .item{
	width: 514;
	height: 173;
	background-color: ececec;
	margin-bottom: 40px;
	padding-left: 30px;
	position: relative;
}

#remarks img{
	position: absolute;
    right: 30px;
    top: 35px;
}

/* #footer{ */
	/* height: 265px; */
	/* background-color: #6dc5dd; */
	/* color: #fff; */
	/* text-align: justify; */
	/* padding: 60px 30px 0 30px; */
/* } */

/* #footer:after{ */
	/* display: inline-block; */
	/* content: ""; */
	/* width: 100%; */
/* } */

/* #footer .col{ */
	/* display: inline-block; */
/* } */

/* #footer .colTitle{ */
	/* font-weight: bold; */
/* } */

/* #footer .col ul{ */
	/* list-style-type: none; */
	/* padding-left: 0px; */
/* } */

#footer{
	height: 265px;
	background-color: #6dc5dd;
	color: #fff;
	
	padding: 60px 30px 0 30px;
}

#footer ul {
  text-align: justify;
  line-height: 0;
}

#footer ul:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block;
}

#footer ul li  {
  display: inline-block;
  text-align: left;
  line-height: normal;
  font-size: 14px;
}

div{
	border: 1px solid grey;
} 